* {
    list-style: none;
}

.btn-nav {
    background-color: orange;
    color: #fff;
    font-weight: bold;
    width: 100%;
    transition: .5s ease;
}

.btn-nav:hover {
    background-color: #feca4e;
    color: #fff;
}

.card {
    cursor: pointer;
    transition: .5s ease;
    border: none;
}

#btn-load,
#btn-load2 {
    width: 200px;
}

.box,
.box2 {
    display: none;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box2:nth-child(1),
.box2:nth-child(2),
.box2:nth-child(3) {
    display: block;
}

.card:hover {
    -webkit-box-shadow: 2px 10px 54px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 10px 54px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 10px 54px -20px rgba(0, 0, 0, 0.75);
}

.color_blue {
    color: rgb(28 175 252);
}

.color_laranja {
    color: orange !important;
    font-weight: bold;
}

.color_laranja:hover {
    color: orange;
    font-weight: bold;
}

.navbar .navbar-nav .nav-link {
    border-bottom: 3px solid #fff;
    transition: all 0.2s ease;
}

.navbar .navbar-nav .nav-link:hover {
    border-bottom: 3px solid orange;
}

.place .nav .active {
    border-bottom: 3px solid orange;
}

.navbar .navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
   box-shadow: none;
}

.hero .titulo {
    font-size: 100px;
}

.hero .subtitulo {
    font-size: 80px;
}

.hero .hero__img {
    border-radius: 50%;
}

.hero .hero_info {
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 2px 10px 54px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 10px 54px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 10px 54px -20px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin-top: 20px;
}

.hero .hero_info i {
    margin-left: 25px;
}

.hero .hero_search {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(28 175 252);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.explore .border {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 2px 10px 54px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 10px 54px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 10px 54px -20px rgba(0, 0, 0, 0.75);
}

/* Image Comparison Slider */
.explore .wrapper {
    position: relative;
    height: 363px;
    width: 100%;
    border: 7px solid #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.explore .wrapper .images {
    height: 100%;
    width: 100%;
    display: flex;
}

.explore .wrapper .images .img-1 {
    height: 100%;
    width: 100%;
    background: url(../images/paisagem.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.explore .wrapper .images .img-2 {
    position: absolute;
    height: 100%;
    width: 50%;
    background: url(../images/japao.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.explore .wrapper .slider {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}

.explore .wrapper .slider input {
    width: 100%;
    outline: none;
    background: none;
    -webkit-appearance: none;
}

.explore .wrapper .slider input::-webkit-slider-thumb {
    cursor: col-resize;
    height: 349px;
    background-color: none;
    width: 3px;
    -webkit-appearance: none;
}

.explore .wrapper .slider .drag-line {
    width: 3px;
    height: 349px;
    position: absolute;
    left: 49.85%;
    pointer-events: none;
}

.explore .wrapper .slider .drag-line::before,
.explore .wrapper .slider .drag-line::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 155px;
    background-color: #fff;
}

.explore .wrapper .slider .drag-line::before {
    top: 0;
}

.explore .wrapper .slider .drag-line::after {
    bottom: 0;
}

.explore .wrapper .slider .drag-line span {
    width: 42px;
    height: 42px;
    border: 3px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.explore .wrapper .slider .drag-line span::before,
.explore .wrapper .slider .drag-line span::after {
    position: absolute;
    content: '';
    top: 50%;
    border: 10px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    transform: translate(-50%, -50%) rotate(45deg);
}

.explore .wrapper .slider .drag-line span::before {
    left: 40%;
    border-left-color: #fff;
}

.explore .wrapper .slider .drag-line span::after {
    left: 60%;
    border-top-color: #fff;
}

/* Fim Image Comparison Slider */

.img01 {
    width: 100%;
    height: 420px;
    background-image: url(../images/pessoa_na_neve.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.img02 {
    width: 100%;
    height: 230px;
    background-image: url(../images/pai_e_filha.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.img03 {
    position: absolute;
    top: 256px;
    width: 31%;
    height: 420px;
    background-image: url(../images/veneza.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.busca-email {
    width: 50%;
    margin: 0 auto;
}

.btn-busca {
    border: 0;
    padding: 1.5rem;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(28 175 252);
    transition: .5s ease;
}

.btn-busca:hover {
    background-color: rgb(28 175 252);
    color: #fff;
}

/* Infinite Scroll */
.parceiros .wrapper {
    width: 100%;
    max-width: 85%;
    margin-inline: auto;
    position: relative;
    height: 200px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0));
}

.parceiros .item {
    width: 200px;
    height: 200px;
    border-radius: 6px;
    position: absolute;
    text-align: center;
    line-height: 100px;
    color: black;
    left: calc(230px * 5);
    /* distância de cada item */
    animation-name: scrollleft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.parceiros .item p {
    color: purple;
}

/* Duração * Delay * -1 */

.parceiros .item1 {
    animation-delay: calc(30s / 5 * (5 - 1) * -1);
}

.parceiros .item2 {
    animation-delay: calc(30s / 5 * (5 - 2) * -1);
}

.parceiros .item3 {
    animation-delay: calc(30s / 5 * (5 - 3) * -1);
}

.parceiros .item4 {
    animation-delay: calc(30s / 5 * (5 - 4) * -1);
}

.parceiros .item5 {
    animation-delay: calc(30s / 5 * (5 - 5) * -1);
}

@keyframes scrollleft {
    to {
        left: -200px;
    }
}
/* End Infinite Scroll */

.footer-icons {
    font-size: 24px;
    color: #ccc;
    transition: .5s ease;
}

.footer-icons:hover {
    color: orange;
}

footer ul li .nav-link {
    color: #000;
    transition: .5s ease;
}

footer ul li .nav-link:hover {
    color: orange;
}

@media (max-width: 1024px) {

    .hero .titulo {
        font-size: 70px;
    }

    .hero .subtitulo {
        font-size: 60px;
    }
}

@media (max-width: 991px) {
    .img03 {
        position: relative;
        top: 0;
        width: 100%;
        height: 420px;
        background-color: #fff;
        border-radius: 20px;
    }
}

@media (max-width: 768px) {

    .hero .titulo {
        text-align: center;
        font-size: 60px;
    }

    .hero .subtitulo {
        text-align: center;
        font-size: 50px;
    }

    .hero .hero_info {
        padding: 0;
        text-align: center;
        width: 100%;
        display: block;
    }

    .hero .hero_search {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .busca-email {
        width: 100%;
    }

    footer {
        text-align: center;
    }

    footer .entre_em_contanto {
        justify-content: center;
    }
}